name: go

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '**'

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
    - name: before
      if: github.base_ref != '' && always()
      run: |
        true
    - name: fail
      run: |
        false
    - name: after
      if: github.base_ref != '' && always()
      run: |
        true
